// footer section

@use 'breakpoints' as bp;
@use 'variable' as var;
@use 'mixin' as min;

.footer {
    width: 100%;
    height: 120px;
    padding: 2rem 0;
    background-color: var.$black-color;

    &_copyright {
        margin-top: 1.5rem;
        color: var.$white-color;
        text-align: center
    }
}

.sns {
    &_list {
        @include min.flex();
        gap: 2rem;
    }
    &_link > i {
        color: var.$white-color;
        font-size: 1.4rem;
    }
}