// color
    /* 20% */
    $orange-color:#ef6c35;
    /* 15~20% */
    $yellowgreen-color:#70E02A;
    /* 5% */
    $subyg-color:#41940D;
    /* 5% */
    $subO-color:#943815;
    // 50%
    $white-color:#fafafa;
    $black-color:#333333;
// end
